# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Notifications Actions"
  version: 3.0.0-unified-notifications
  description: >-
    Notifications operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-notifications.vishartattoo.com
    description: "Vishar CRM Notifications action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/follow-ups:
    get:
      operationId: listFollowUps
      summary: List artist follow-ups
      x-openai-isConsequential: false
      parameters:
        - {name: status, in: query, required: false, schema: {$ref: '#/components/schemas/FollowUpStatus'}}
        - {name: from, in: query, required: false, schema: {type: string, format: date-time}}
        - {name: to, in: query, required: false, schema: {type: string, format: date-time}}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 50, default: 20}}
      responses: {'200': {description: Follow-ups}}
    post:
      operationId: createFollowUp
      summary: Create a follow-up
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [subject, due_at]
              properties:
                subject: {type: string, maxLength: 300}
                due_at: {type: string, format: date-time}
                client_id: {type: string, format: uuid}
                enquiry_id: {type: string, format: uuid}
                project_id: {type: string, format: uuid}
                assigned_to: {type: string, format: uuid}
                details: {type: string, maxLength: 4000}
      responses: {'200': {description: Created follow-up}}
  /v1/follow-ups/{follow_up_id}/complete:
    post:
      operationId: completeFollowUp
      summary: Mark follow-up done
      x-openai-isConsequential: true
      parameters:
        - {name: follow_up_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, properties: {}}}}}
      responses: {'200': {description: Follow-up completion result}}
  /v1/follow-ups/{follow_up_id}/cancel:
    post:
      operationId: cancelFollowUp
      summary: Cancel an open follow-up
      x-openai-isConsequential: true
      parameters:
        - {name: follow_up_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, properties: {}}}}}
      responses: {'200': {description: Follow-up cancellation result}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
  schemas:
    FollowUpStatus:
      type: string
      enum: [open, done, cancelled]
