# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Integrations Actions"
  version: 3.0.0-unified-integrations
  description: >-
    Integrations operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-integrations.vishartattoo.com
    description: "Vishar CRM Integrations action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/integrations/status:
    get:
      operationId: listIntegrationStatus
      summary: "List connection health of the active artist and studio integrations"
      x-openai-isConsequential: false
      description: "Status and safe error categories only. No credential, token or provider account id is returned."
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/integrations/calendar:
    get:
      operationId: listCalendarConnectionStatus
      summary: "Read the Google Calendar connection of the active artist"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/integrations/calendar/reset-account:
    post:
      operationId: resetCalendarExpectedAccount
      summary: "Unpin the Google account the calendar expects so a different account can be connected"
      x-openai-isConsequential: true
      description: "The new Google consent itself must be completed by the account holder in Google."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/integrations/whatsapp/enabled:
    post:
      operationId: setWhatsAppRouteEnabled
      summary: "Turn the active artist WhatsApp route on or off"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["is_enabled"]
              properties:
                is_enabled: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/integrations/telegram:
    get:
      operationId: getTelegramConnectorInfo
      summary: "Read the Telegram bot the CRM uses"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    put:
      operationId: configureTelegramBotUsername
      summary: "Set the public username of the CRM Telegram bot"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["bot_username"]
              properties:
                bot_username: {type: "string", maxLength: 64, pattern: "^@?[A-Za-z][A-Za-z0-9_]{4,31}$"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/integrations/telegram/destinations:
    get:
      operationId: listTelegramDestinations
      summary: "List the signed-in user and active artist Telegram destinations"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/integrations/telegram/link:
    post:
      operationId: beginTelegramLink
      summary: "Start linking a Telegram chat and get the one-time link"
      x-openai-isConsequential: true
      description: "Give the returned link to the user; they must press Start in Telegram themselves."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["destination_kind"]
              properties:
                destination_kind: {type: "string", enum: ["profile", "artist"]}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/integrations/telegram/disconnect:
    post:
      operationId: disconnectTelegramDestination
      summary: "Disconnect the signed-in user or active artist Telegram destination"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["destination_kind"]
              properties:
                destination_kind: {type: "string", enum: ["profile", "artist"]}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/booking-sources:
    get:
      operationId: listBookingSources
      summary: "List booking forms and website sources of the active artist"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    post:
      operationId: createBookingSource
      summary: "Create a booking form or website source for the active artist"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "source_kind", "display_label"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                source_kind: {type: "string", enum: ["external", "hosted"]}
                display_label: {type: "string", maxLength: 120}
                allowed_origin: {type: "string", maxLength: 253, pattern: "^https://[a-z0-9](?:[a-z0-9.-]*[a-z0-9])?(?::[0-9]{1,5})?$"}
                form_template: {type: "string", maxLength: 60, default: "tattoo-enquiry"}
                activate: {type: "boolean", default: false}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/booking-sources/{booking_source_id}:
    patch:
      operationId: updateBookingSource
      summary: "Rename, re-point or switch a booking source on or off"
      x-openai-isConsequential: true
      parameters:
        - {name: "booking_source_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["display_label"]
              properties:
                display_label: {type: "string", maxLength: 120}
                allowed_origin: {type: "string", maxLength: 253, pattern: "^https://[a-z0-9](?:[a-z0-9.-]*[a-z0-9])?(?::[0-9]{1,5})?$", description: "New HTTPS origin of an external source. Omit to keep the current origin."}
                is_active: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
