# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Automations Actions"
  version: 3.0.0-unified-automations
  description: >-
    Automations operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-automations.vishartattoo.com
    description: "Vishar CRM Automations action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/automations/rules:
    get:
      operationId: listLifecycleRules
      summary: "List client lifecycle automation rules of the active artist"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    post:
      operationId: createLifecycleRule
      summary: "Create a client lifecycle message rule (reminder, aftercare, follow-up)"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["name", "appointment_type", "message_purpose", "schedule_anchor", "anchor_offset_minutes"]
              properties:
                name: {type: "string", maxLength: 120}
                appointment_type: {type: "string", enum: ["tattoo_session", "in_person_consultation", "video_consultation", "touch_up"]}
                message_purpose: {type: "string", maxLength: 80}
                schedule_anchor: {type: "string", enum: ["event_occurred", "session_start", "session_end"]}
                anchor_offset_minutes: {type: "integer", minimum: -43200, maximum: 43200}
                locale: {type: "string", maxLength: 10, default: "en"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/rules/{rule_id}/timing:
    post:
      operationId: updateLifecycleRuleTiming
      summary: "Change when a lifecycle rule sends relative to the session"
      x-openai-isConsequential: true
      parameters:
        - {name: "rule_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["timing_direction", "amount", "unit"]
              properties:
                timing_direction: {type: "string", enum: ["before_session_start", "after_session_end"]}
                amount: {type: "integer", minimum: 1, maximum: 43200}
                unit: {type: "string", enum: ["minutes", "hours", "days"]}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/rules/{rule_id}/enabled:
    post:
      operationId: setLifecycleRuleEnabled
      summary: "Turn a lifecycle rule on or off"
      x-openai-isConsequential: true
      parameters:
        - {name: "rule_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["is_enabled"]
              properties:
                is_enabled: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/preview-sessions:
    get:
      operationId: listLifecyclePreviewSessions
      summary: "List sessions a lifecycle rule can be previewed against"
      x-openai-isConsequential: false
      parameters:
        - {name: "limit", in: "query", required: false, schema: {type: "integer", minimum: 1, maximum: 100, default: 50}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/rules/{rule_id}/preview:
    get:
      operationId: previewLifecycleRule
      summary: "Preview the message and send time a rule would produce for a session"
      x-openai-isConsequential: false
      parameters:
        - {name: "rule_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
        - {name: "session_id", in: "query", required: true, schema: {type: "string", format: "uuid"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/history:
    get:
      operationId: listLifecycleExecutionHistory
      summary: "List recent lifecycle message jobs and their outcomes"
      x-openai-isConsequential: false
      parameters:
        - {name: "limit", in: "query", required: false, schema: {type: "integer", minimum: 1, maximum: 100, default: 50}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/configuration-history:
    get:
      operationId: listLifecycleConfigurationHistory
      summary: "List who changed lifecycle rules and templates, and when"
      x-openai-isConsequential: false
      parameters:
        - {name: "limit", in: "query", required: false, schema: {type: "integer", minimum: 1, maximum: 100, default: 50}}
        - {name: "before_occurred_at", in: "query", required: false, schema: {type: "string", format: "date-time"}}
        - {name: "before_id", in: "query", required: false, schema: {type: "string", format: "uuid"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/health:
    get:
      operationId: getLifecycleHealth
      summary: "Read lifecycle automation health for the active artist"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/jobs/{job_id}/retry:
    post:
      operationId: retryLifecycleJob
      summary: "Retry a failed lifecycle message job"
      x-openai-isConsequential: true
      parameters:
        - {name: "job_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/workspace-defaults:
    get:
      operationId: listWorkspaceAutomationDefaults
      summary: "List the studio default automation rules"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/automations/workspace-defaults/apply:
    post:
      operationId: applyWorkspaceAutomationDefaults
      summary: "Apply the studio default automation rules to the active artist"
      x-openai-isConsequential: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
