# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM CRM Core Actions"
  version: 3.0.0-unified-crm-core
  description: >-
    CRM Core operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-actions.vishartattoo.com
    description: "Vishar CRM CRM Core action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/context:
    get:
      operationId: getArtistContext
      summary: List the artists this CRM user may work as, and which one is active
      x-openai-isConsequential: false
      description: >-
        The active artist decides whose CRM every other action reads and writes.
        For a GPT bound to one artist this always returns that artist. For the
        shared Vishar GPT it returns exactly the artists the signed-in CRM user
        currently has access to, and asks for a choice when there is more than
        one.
      responses: {'200': {description: Available artists and the active artist context}}
    post:
      operationId: selectArtistContext
      summary: Switch the active artist to one this CRM user is authorized to work as
      x-openai-isConsequential: true
      description: >-
        Confirm the artist with the user before switching, because every later
        action applies to that artist. The CRM re-checks the signed-in user's
        access and refuses an artist they are not authorized for. A GPT bound to
        a single artist cannot be switched at all.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [artist_id]
              properties: {artist_id: {type: string, format: uuid}}
      responses: {'200': {description: Updated active artist context}, '403': {description: The CRM user is not authorized for that artist}}
  /v1/me/capabilities:
    get:
      operationId: listMyCapabilities
      summary: "List what the signed-in CRM user may do for the active artist"
      x-openai-isConsequential: false
      description: "The CRM capability list for the active artist. It explains a permission refusal; it never grants anything."
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/today:
    get:
      operationId: getTodayPulse
      summary: "Read the Today view: what needs the artist now, ranked by the CRM"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/statistics:
    get:
      operationId: getStatistics
      summary: "Read the Statistics figures for the active artist over a date range (at most 400 days)"
      x-openai-isConsequential: false
      description: "Enquiries by status and source, projects, sessions, and money totals when the user may view finance."
      parameters:
        - {name: "from", in: "query", required: true, schema: {type: "string", format: "date-time"}}
        - {name: "to", in: "query", required: true, schema: {type: "string", format: "date-time"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/deliveries/failed:
    get:
      operationId: listFailedDeliveries
      summary: "List failed or dead outgoing deliveries (email, WhatsApp, calendar, Telegram) for the active artist"
      x-openai-isConsequential: false
      parameters:
        - {name: "limit", in: "query", required: false, schema: {type: "integer", minimum: 1, maximum: 100, default: 50}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/clients:
    get:
      operationId: listClients
      summary: List clients linked to this GPT artist scope without contact PII
      x-openai-isConsequential: false
      parameters:
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 50, default: 25}}
      responses: {'200': {description: PII-minimised linked clients}}
  /v1/clients/search:
    get:
      operationId: searchAppointmentClients
      summary: Find client names in this GPT artist scope
      x-openai-isConsequential: false
      parameters:
        - {name: q, in: query, required: true, schema: {type: string, minLength: 2, maxLength: 100}}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 20, default: 10}}
      responses: {'200': {description: Matching client IDs and names}}
  /v1/clients/{client_id}:
    get:
      operationId: getClient
      summary: Read one linked client including contact details
      x-openai-isConsequential: false
      parameters:
        - {name: client_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Client detail}, '404': {description: Not found}}
    patch:
      operationId: updateClient
      summary: Update one non-shared client
      description: Shared cross-artist clients fail closed and must be edited in the CRM UI.
      x-openai-isConsequential: true
      parameters:
        - {name: client_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ClientEditableFields'}
      responses: {'200': {description: Updated client}}
  /v1/clients/{client_id}/archive:
    post:
      operationId: archiveClient
      summary: "Archive a client that only this artist works with"
      x-openai-isConsequential: true
      description: "Archives the client and their open enquiries exactly as the CRM Archive button does. A client shared with another artist must be archived in the CRM."
      parameters:
        - {name: "client_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/clients/{client_id}/ai-state:
    get:
      operationId: getClientAiState
      summary: "Read the CRM AI brief and recommended next action for a client"
      x-openai-isConsequential: false
      parameters:
        - {name: "client_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/enquiries:
    get:
      operationId: listEnquiries
      summary: List complete enquiries without contact PII
      x-openai-isConsequential: false
      parameters:
        - {name: from, in: query, required: false, schema: {type: string, format: date-time}}
        - {name: to, in: query, required: false, schema: {type: string, format: date-time}}
        - {name: status, in: query, required: false, schema: {$ref: '#/components/schemas/EnquiryStatus'}}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 25, default: 20}}
      responses: {'200': {description: Enquiry summaries}}
  /v1/enquiries/manual:
    post:
      operationId: createManualEnquiry
      summary: Create a manual enquiry in the active GPT artist context
      description: Requires confirmed privacy acknowledgement. Generate one UUID request_id and reuse it only for an identical retry.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [request_id, client, enquiry, privacy_acknowledged]
              properties:
                request_id: {type: string, format: uuid}
                privacy_acknowledged: {type: boolean}
                client: {$ref: '#/components/schemas/ManualClient'}
                enquiry: {$ref: '#/components/schemas/EnquiryEditableFields'}
      responses: {'200': {description: Created or idempotently replayed enquiry}}
  /v1/enquiries/{enquiry_id}:
    get:
      operationId: getEnquiry
      summary: Read safe enquiry detail without contact PII
      x-openai-isConsequential: false
      parameters:
        - {name: enquiry_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Enquiry detail}, '404': {description: Not found}}
    patch:
      operationId: updateEnquiry
      summary: Update editable project fields on an enquiry
      x-openai-isConsequential: true
      parameters:
        - {name: enquiry_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/EnquiryEditableFields'}
      responses: {'200': {description: Updated enquiry}}
  /v1/enquiries/{enquiry_id}/archive:
    post:
      operationId: archiveEnquiry
      summary: "Archive an enquiry"
      x-openai-isConsequential: true
      parameters:
        - {name: "enquiry_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/enquiries/{enquiry_id}/full:
    get:
      operationId: getEnquiryFull
      summary: Read one full enquiry including canonical client contact details and source attribution
      x-openai-isConsequential: false
      parameters:
        - {name: enquiry_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Full enquiry detail}, '404': {description: Not found}}
  /v1/enquiries/{enquiry_id}/status:
    post:
      operationId: setEnquiryStatus
      summary: Transition enquiry status using CRM workflow rules
      x-openai-isConsequential: true
      parameters:
        - {name: enquiry_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties: {status: {$ref: '#/components/schemas/EnquiryStatus'}}
      responses: {'200': {description: Status transition result}}
  /v1/staff:
    get:
      operationId: listArtistStaff
      summary: List active staff assignable inside this GPT artist scope
      x-openai-isConsequential: false
      responses: {'200': {description: Active artist memberships}}
  /v1/enquiries/{enquiry_id}/assign:
    post:
      operationId: assignEnquiry
      summary: Assign an enquiry to active staff in this artist scope
      x-openai-isConsequential: true
      parameters:
        - {name: enquiry_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [profile_id]
              properties: {profile_id: {type: string, format: uuid}}
      responses: {'200': {description: Assignment result}}
  /v1/enquiries/{enquiry_id}/convert:
    post:
      operationId: convertEnquiryToProject
      summary: Convert an accepted enquiry into a project
      x-openai-isConsequential: true
      parameters:
        - {name: enquiry_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [title]
              properties:
                title: {type: string, maxLength: 200}
                description: {type: string, maxLength: 4000}
      responses: {'200': {description: Project conversion result}}
  /v1/enquiries/{enquiry_id}/ai-result:
    get:
      operationId: getEnquiryAiResult
      summary: "Read the AI intake analysis of an enquiry"
      x-openai-isConsequential: false
      parameters:
        - {name: "enquiry_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/enquiries/{enquiry_id}/ai-retry:
    post:
      operationId: retryEnquiryAi
      summary: "Queue the AI intake analysis of an enquiry again"
      x-openai-isConsequential: true
      parameters:
        - {name: "enquiry_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
  schemas:
    ClientEditableFields:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        full_name: {type: string, maxLength: 160}
        email: {type: string, maxLength: 320}
        phone: {type: string, maxLength: 80}
        instagram: {type: string, maxLength: 80}
        preferred_contact: {type: string, maxLength: 40}
        travelling_from: {type: string, maxLength: 160}
    EnquiryEditableFields:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        project_type: {type: string, maxLength: 100}
        placement: {type: string, maxLength: 160}
        approximate_size: {type: string, maxLength: 120}
        cover_up: {type: string, maxLength: 40}
        preferred_timing: {type: string, maxLength: 160}
        idea: {type: string, maxLength: 4000}
    EnquiryStatus:
      type: string
      enum: [new, reviewing, waiting_for_client, accepted, declined, quote_sent, deposit_requested, deposit_paid, converted, closed]
    ManualClient:
      type: object
      additionalProperties: false
      required: [full_name, email]
      properties:
        full_name: {type: string, maxLength: 160}
        email: {type: string, maxLength: 320}
        phone: {type: string, maxLength: 80}
        instagram: {type: string, maxLength: 80}
        preferred_contact: {type: string, enum: [Email, WhatsApp, Instagram]}
        travelling_from: {type: string, maxLength: 160}
