# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Workspace Actions"
  version: 3.0.0-unified-workspace
  description: >-
    Workspace operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-workspace.vishartattoo.com
    description: "Vishar CRM Workspace action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/me:
    get:
      operationId: getAccountOverview
      summary: "Read the signed-in CRM user account overview"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/me/display-name:
    put:
      operationId: setMyDisplayName
      summary: "Change the signed-in user display name"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["display_name"]
              properties:
                display_name: {type: "string", maxLength: 120}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/me/language:
    put:
      operationId: setMyLanguage
      summary: "Change the CRM language of the signed-in user"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["language"]
              properties:
                language: {type: "string", enum: ["en", "ru"]}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
