# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Projects Actions"
  version: 3.0.0-unified-projects
  description: >-
    Projects operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-projects.vishartattoo.com
    description: "Vishar CRM Projects action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/projects:
    get:
      operationId: listProjects
      summary: List projects in this GPT artist scope
      x-openai-isConsequential: false
      parameters:
        - {name: status, in: query, required: false, schema: {$ref: '#/components/schemas/ProjectStatus'}}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 25, default: 20}}
      responses: {'200': {description: Projects}}
  /v1/projects/{project_id}:
    get:
      operationId: getProject
      summary: Read one project
      x-openai-isConsequential: false
      parameters:
        - {name: project_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Project detail}, '404': {description: Not found}}
    patch:
      operationId: updateProject
      summary: Update project title or description
      x-openai-isConsequential: true
      parameters:
        - {name: project_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                title: {type: string, maxLength: 200}
                description: {type: string, maxLength: 4000}
      responses: {'200': {description: Project update result}}
  /v1/projects/{project_id}/status:
    post:
      operationId: setProjectStatus
      summary: Change project lifecycle status
      x-openai-isConsequential: true
      parameters:
        - {name: project_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties: {status: {$ref: '#/components/schemas/ProjectStatus'}}
      responses: {'200': {description: Project status result}}
  /v1/notes:
    get:
      operationId: listInternalNotes
      summary: List internal notes linked to specific CRM records
      x-openai-isConsequential: false
      parameters:
        - {name: client_id, in: query, required: false, schema: {type: string, format: uuid}}
        - {name: enquiry_id, in: query, required: false, schema: {type: string, format: uuid}}
        - {name: project_id, in: query, required: false, schema: {type: string, format: uuid}}
        - {name: session_id, in: query, required: false, schema: {type: string, format: uuid}}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 50, default: 20}}
      responses: {'200': {description: Internal notes}}
    post:
      operationId: createInternalNote
      summary: Create an internal CRM note
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [body]
              properties:
                body: {type: string, maxLength: 8000}
                client_id: {type: string, format: uuid}
                enquiry_id: {type: string, format: uuid}
                project_id: {type: string, format: uuid}
                session_id: {type: string, format: uuid}
      responses: {'200': {description: Created note}}
  /v1/enquiries/{enquiry_id}/files:
    get:
      operationId: listEnquiryFiles
      summary: List private enquiry file metadata only
      description: Does not expose Storage paths, checksums, signed URLs or file bytes.
      x-openai-isConsequential: false
      parameters:
        - {name: enquiry_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Private file metadata}}
  /v1/projects/{project_id}/files:
    get:
      operationId: listProjectFiles
      summary: List private project file metadata only
      description: Does not expose Storage paths, checksums, signed URLs or file bytes.
      x-openai-isConsequential: false
      parameters:
        - {name: project_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Private file metadata}}
  /v1/files/{file_id}/remove:
    post:
      operationId: removeEnquiryFile
      summary: "Remove a reference file from an enquiry"
      x-openai-isConsequential: true
      description: "Deletes the stored image and its record. Only the installation owner may do this."
      parameters:
        - {name: "file_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/activity:
    get:
      operationId: listActivity
      summary: List recent artist-scoped CRM activity without raw metadata payloads
      x-openai-isConsequential: false
      parameters:
        - {name: from, in: query, required: false, schema: {type: string, format: date-time}}
        - {name: to, in: query, required: false, schema: {type: string, format: date-time}}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 50, default: 30}}
      responses: {'200': {description: Activity summaries}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
  schemas:
    ProjectStatus:
      type: string
      enum: [draft, active, on_hold, completed, cancelled]
