# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Scheduling Actions"
  version: 3.0.0-unified-scheduling
  description: >-
    Scheduling operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-scheduling.vishartattoo.com
    description: "Vishar CRM Scheduling action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/appointments:
    get:
      operationId: listAppointments
      summary: List appointments in this GPT artist scope
      x-openai-isConsequential: false
      parameters:
        - {name: from, in: query, required: true, schema: {type: string, format: date-time}}
        - {name: to, in: query, required: true, schema: {type: string, format: date-time}}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 25, default: 20}}
      responses: {'200': {description: Appointments}}
    post:
      operationId: scheduleAppointment
      summary: Create an appointment in the active GPT artist context
      description: Check conflicts first. Generate one UUID request_id and reuse it only for an identical retry.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ScheduleAppointmentRequest'}
      responses: {'200': {description: Appointment result}}
  /v1/appointments/priced:
    post:
      operationId: scheduleAppointmentWithPrice
      summary: "Schedule an appointment with an agreed price in one step"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "client_id", "appointment_type", "start_at", "end_at", "price"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                client_id: {type: "string", format: "uuid"}
                appointment_type: {type: "string", enum: ["tattoo_session", "in_person_consultation", "video_consultation", "touch_up"]}
                start_at: {type: "string", format: "date-time"}
                end_at: {type: "string", format: "date-time"}
                price: {type: "number", minimum: 0, maximum: 100000}
                status: {type: "string", enum: ["draft", "proposed", "confirmed"], default: "proposed"}
                enquiry_id: {type: "string", format: "uuid"}
                project_id: {type: "string", format: "uuid"}
                notes: {type: "string", maxLength: 4000}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/appointments/{appointment_id}/price:
    post:
      operationId: setAppointmentPrice
      summary: "Set the agreed price of an appointment"
      x-openai-isConsequential: true
      parameters:
        - {name: "appointment_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["price"]
              properties:
                price: {type: "number", minimum: 0, maximum: 100000}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/appointments/conflicts:
    post:
      operationId: checkAppointmentConflicts
      summary: Check appointment conflicts
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [start_at, end_at]
              properties:
                start_at: {type: string, format: date-time}
                end_at: {type: string, format: date-time}
                exclude_appointment_id: {type: string, format: uuid}
      responses: {'200': {description: Appointment conflicts}}
  /v1/scheduling/booking-conflicts:
    get:
      operationId: checkBookingConflicts
      summary: "Check a proposed booking against appointments, time off and working-hour rules"
      x-openai-isConsequential: false
      parameters:
        - {name: "appointment_type", in: "query", required: true, schema: {type: "string", enum: ["tattoo_session", "in_person_consultation", "video_consultation", "touch_up"]}}
        - {name: "start_at", in: "query", required: true, schema: {type: "string", format: "date-time"}}
        - {name: "end_at", in: "query", required: true, schema: {type: "string", format: "date-time"}}
        - {name: "exclude_appointment_id", in: "query", required: false, schema: {type: "string", format: "uuid"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/appointments/{appointment_id}:
    get:
      operationId: getAppointment
      summary: Read safe appointment detail
      x-openai-isConsequential: false
      parameters:
        - {name: appointment_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Appointment detail}, '404': {description: Not found}}
  /v1/appointments/{appointment_id}/full:
    get:
      operationId: getAppointmentFull
      summary: Read full appointment detail including internal notes
      x-openai-isConsequential: false
      parameters:
        - {name: appointment_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Full appointment detail}, '404': {description: Not found}}
  /v1/appointments/{appointment_id}/time:
    patch:
      operationId: rescheduleAppointment
      summary: Reschedule appointment
      description: Read first and supply current calendar_version.
      x-openai-isConsequential: true
      parameters:
        - {name: appointment_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [request_id, expected_calendar_version, start_at, end_at]
              properties:
                request_id: {type: string, format: uuid}
                expected_calendar_version: {type: integer, minimum: 0}
                start_at: {type: string, format: date-time}
                end_at: {type: string, format: date-time}
      responses: {'200': {description: Reschedule result}}
  /v1/appointments/{appointment_id}/cancel:
    post:
      operationId: cancelAppointment
      summary: Cancel appointment
      description: Read first and supply current calendar_version.
      x-openai-isConsequential: true
      parameters:
        - {name: appointment_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [request_id, expected_calendar_version]
              properties:
                request_id: {type: string, format: uuid}
                expected_calendar_version: {type: integer, minimum: 0}
      responses: {'200': {description: Cancellation result}}
  /v1/appointments/{appointment_id}/status:
    post:
      operationId: setAppointmentStatus
      summary: Change appointment status using CRM transition rules
      x-openai-isConsequential: true
      parameters:
        - {name: appointment_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties: {status: {$ref: '#/components/schemas/AppointmentStatus'}}
      responses: {'200': {description: Status result}}
  /v1/projects/{project_id}/sessions:
    post:
      operationId: scheduleProjectSession
      summary: "Add a tattoo session to a project"
      x-openai-isConsequential: true
      parameters:
        - {name: "project_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "start_at", "end_at"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                start_at: {type: "string", format: "date-time"}
                end_at: {type: "string", format: "date-time"}
                status: {type: "string", enum: ["draft", "proposed", "confirmed"], default: "proposed"}
                notes: {type: "string", maxLength: 4000}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/sessions/{session_id}/status:
    post:
      operationId: setProjectSessionStatus
      summary: "Change the status of a project session (confirm, complete, cancel, no-show)"
      x-openai-isConsequential: true
      parameters:
        - {name: "session_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["status"]
              properties:
                status: {type: "string", enum: ["draft", "proposed", "confirmed", "completed", "cancelled", "no_show"]}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/sessions/{session_id}/booking-card:
    get:
      operationId: getSessionBookingCardStatus
      summary: "Read whether the client booking card for a session was sent and answered"
      x-openai-isConsequential: false
      parameters:
        - {name: "session_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/availability:
    get:
      operationId: listAvailability
      summary: List time-off and availability blocks
      x-openai-isConsequential: false
      parameters:
        - {name: from, in: query, required: true, schema: {type: string, format: date-time}}
        - {name: to, in: query, required: true, schema: {type: string, format: date-time}}
        - {name: include_cancelled, in: query, required: false, schema: {type: boolean, default: false}}
      responses: {'200': {description: Availability blocks}}
    post:
      operationId: createAvailability
      summary: Block artist availability
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AvailabilityRequest'}
      responses: {'200': {description: Availability block result}}
  /v1/availability/{block_id}:
    patch:
      operationId: updateAvailability
      summary: Edit availability block
      x-openai-isConsequential: true
      parameters:
        - {name: block_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AvailabilityRequest'}
      responses: {'200': {description: Availability update result}}
  /v1/availability/{block_id}/cancel:
    post:
      operationId: cancelAvailability
      summary: Cancel availability block
      x-openai-isConsequential: true
      parameters:
        - {name: block_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, properties: {}}}}}
      responses: {'200': {description: Availability cancellation result}}
  /v1/scheduling/preferences:
    get:
      operationId: getSchedulingPreferences
      summary: "Read the artist working hours and consultation rules"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    put:
      operationId: setSchedulingPreferences
      summary: "Replace the artist working hours and consultation rules"
      x-openai-isConsequential: true
      description: "Send every field: read the current preferences first and change only what the user asked for."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["tattoo_earliest_start", "tattoo_latest_finish", "tattoo_preferred_starts", "consultation_earliest_start", "consultation_latest_finish", "consultation_during_tattoo", "max_concurrent_consultations"]
              properties:
                tattoo_earliest_start: {type: "string", pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"}
                tattoo_latest_finish: {type: "string", pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"}
                tattoo_preferred_starts: {type: "array", maxItems: 12, items: {type: "string", pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"}}
                consultation_earliest_start: {type: "string", pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"}
                consultation_latest_finish: {type: "string", pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"}
                consultation_during_tattoo: {type: "boolean"}
                max_concurrent_consultations: {type: "integer", minimum: 0, maximum: 10}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/scheduling/overrides:
    get:
      operationId: listScheduleOverrides
      summary: "List single-day working-hour overrides in a date range"
      x-openai-isConsequential: false
      parameters:
        - {name: "from", in: "query", required: true, schema: {type: "string", format: "date"}}
        - {name: "to", in: "query", required: true, schema: {type: "string", format: "date"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    post:
      operationId: setScheduleOverride
      summary: "Set or clear the working hours of one day"
      x-openai-isConsequential: true
      description: "Omit both times to clear the override for that day."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["on_date"]
              properties:
                on_date: {type: "string", format: "date"}
                tattoo_earliest_start: {type: "string", pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"}
                tattoo_latest_finish: {type: "string", pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"}
                note: {type: "string", maxLength: 500}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/scheduling/pricing:
    get:
      operationId: getSessionPricing
      summary: "Read the artist hourly, full-day and session deposit prices"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    put:
      operationId: setSessionPricing
      summary: "Replace the artist session prices and default session deposit"
      x-openai-isConsequential: true
      description: "Money setting. Read the current prices first and send the exact values the user confirmed."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["hourly_rate", "full_day_rate", "full_day_hours", "session_deposit_amount"]
              properties:
                hourly_rate: {type: ["number", "null"], minimum: 0, maximum: 100000}
                full_day_rate: {type: ["number", "null"], minimum: 0, maximum: 100000}
                full_day_hours: {type: ["number", "null"], minimum: 0, maximum: 24}
                session_deposit_amount: {type: ["number", "null"], minimum: 0, maximum: 100000}
                currency: {type: "string", maxLength: 3, pattern: "^[A-Z]{3}$", default: "GBP"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
  schemas:
    AppointmentStatus:
      type: string
      enum: [draft, proposed, confirmed, completed, cancelled, no_show]
    AvailabilityRequest:
      type: object
      additionalProperties: false
      required: [block_kind, start_at, end_at]
      properties:
        block_kind: {type: string, enum: [day_off, holiday, personal, other]}
        start_at: {type: string, format: date-time}
        end_at: {type: string, format: date-time}
        is_all_day: {type: boolean, default: false}
        note: {type: string, maxLength: 500}
    ScheduleAppointmentRequest:
      type: object
      additionalProperties: false
      required: [request_id, client_id, appointment_type, start_at, end_at]
      properties:
        request_id: {type: string, format: uuid}
        client_id: {type: string, format: uuid}
        appointment_type: {type: string, enum: [tattoo_session, in_person_consultation, video_consultation, touch_up]}
        start_at: {type: string, format: date-time}
        end_at: {type: string, format: date-time}
        status: {type: string, enum: [draft, proposed, confirmed], default: proposed}
        enquiry_id: {type: string, format: uuid}
        project_id: {type: string, format: uuid}
        notes: {type: string, maxLength: 4000}
