# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Project Finance Actions"
  version: 3.0.0-unified-project-finance
  description: >-
    Project Finance operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-finance.vishartattoo.com
    description: "Vishar CRM Project Finance action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/projects/{project_id}/finance:
    get:
      operationId: getProjectFinance
      summary: Read project estimate and deposit fields when finance capability is enabled
      x-openai-isConsequential: false
      parameters:
        - {name: project_id, in: path, required: true, schema: {type: string, format: uuid}}
      responses: {'200': {description: Project finance detail}}
  /v1/projects/{project_id}/estimate:
    patch:
      operationId: updateProjectEstimate
      summary: Update project estimate fields
      x-openai-isConsequential: true
      parameters:
        - {name: project_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                hourly_rate: {type: number, minimum: 0}
                estimate_total: {type: number, minimum: 0}
                estimated_sessions: {type: integer, minimum: 0}
                estimated_hours: {type: number, minimum: 0}
                currency: {type: string, minLength: 3, maxLength: 3}
      responses: {'200': {description: Estimate update result}}
  /v1/projects/{project_id}/deposit:
    patch:
      operationId: updateProjectDeposit
      summary: Update project deposit amount and status
      x-openai-isConsequential: true
      parameters:
        - {name: project_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [amount, status]
              properties:
                amount: {type: number, minimum: 0}
                status: {$ref: '#/components/schemas/DepositStatus'}
                currency: {type: string, minLength: 3, maxLength: 3}
      responses: {'200': {description: Deposit update result}}
  /v1/finance/deposit-policy:
    get:
      operationId: getDepositPolicy
      summary: "Read the artist default project deposit policy"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    put:
      operationId: configureDepositPolicy
      summary: "Replace the artist default project deposit policy"
      x-openai-isConsequential: true
      description: "Money setting. fixed needs fixed_amount; percentage_of_estimate needs percentage. Only send values the user confirmed."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["mode"]
              properties:
                mode: {type: "string", enum: ["fixed", "percentage_of_estimate"]}
                fixed_amount: {type: "number", minimum: 0.01, maximum: 100000}
                percentage: {type: "number", minimum: 0.01, maximum: 100}
                minimum_amount: {type: "number", minimum: 0, maximum: 100000}
                rounding_step: {type: "number", minimum: 0.01, maximum: 1000, default: 1}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/projects/{project_id}/deposit-preview:
    get:
      operationId: previewProjectDeposit
      summary: "Preview the deposit the policy gives for a project before requesting it"
      x-openai-isConsequential: false
      parameters:
        - {name: "project_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/projects/{project_id}/deposit-override:
    post:
      operationId: setProjectDepositOverride
      summary: "Set or clear a one-project deposit amount that overrides the policy"
      x-openai-isConsequential: true
      description: "Omit amount to clear the override and return to the policy."
      parameters:
        - {name: "project_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                amount: {type: "number", minimum: 0.01, maximum: 100000}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/projects/{project_id}/deposit-request:
    post:
      operationId: requestProjectDeposit
      summary: "Request the project deposit from the client"
      x-openai-isConsequential: true
      description: "Money action. The server computes the amount from the policy or override; preview first and confirm with the user."
      parameters:
        - {name: "project_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["idempotency_key"]
              properties:
                idempotency_key: {type: "string", format: "uuid", description: "Fresh UUID per intended request; reuse only to retry the same request."}
                delivery_channel: {type: "string", enum: ["copy_link", "email"], default: "copy_link"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/projects/{project_id}/deposit-confirm:
    post:
      operationId: confirmProjectDepositManually
      summary: "Record that the project deposit was paid outside Vishar payments"
      x-openai-isConsequential: true
      description: "Money action. Only when the user states the deposit was actually received."
      parameters:
        - {name: "project_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["idempotency_key"]
              properties:
                idempotency_key: {type: "string", format: "uuid"}
                occurred_at: {type: "string", format: "date-time"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/payments/requests:
    get:
      operationId: listPaymentRequests
      summary: List payment requests when finance capability is enabled
      x-openai-isConsequential: false
      parameters:
        - {name: status, in: query, required: false, schema: {$ref: '#/components/schemas/PaymentRequestStatus'}}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 50, default: 20}}
      responses: {'200': {description: Payment requests}}
  /v1/appointments/{appointment_id}/deposit-request:
    post:
      operationId: requestSessionDeposit
      summary: Request the configured session deposit
      description: Uses the existing artist payment route and policy. Generate one UUID request_id and reuse it only for an identical retry.
      x-openai-isConsequential: true
      parameters:
        - {name: appointment_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [request_id]
              properties:
                request_id: {type: string, format: uuid}
                delivery_channel: {type: string, enum: [email, whatsapp]}
      responses: {'200': {description: Deposit request result}}
  /v1/sessions/deposit-request:
    post:
      operationId: requestGroupedSessionDeposit
      summary: "Request one deposit covering several sessions"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["session_ids", "idempotency_key"]
              properties:
                session_ids: {type: "array", minItems: 1, maxItems: 20, items: {type: "string", format: "uuid"}}
                idempotency_key: {type: "string", format: "uuid"}
                delivery_channel: {type: "string", enum: ["copy_link", "email"], default: "copy_link"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/payments/requests/{payment_request_id}/cancel:
    post:
      operationId: cancelPaymentRequest
      summary: Cancel an existing payment request
      x-openai-isConsequential: true
      parameters:
        - {name: payment_request_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, properties: {}}}}}
      responses: {'200': {description: Payment request cancellation result}}
  /v1/payments/requests/{payment_request_id}/manual-payment:
    post:
      operationId: recordManualPayment
      summary: Record a real manual payment against a payment request
      description: Confirm exact amount with the user. Generate one UUID request_id and reuse it only for an identical retry.
      x-openai-isConsequential: true
      parameters:
        - {name: payment_request_id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [request_id, amount]
              properties:
                request_id: {type: string, format: uuid}
                amount: {type: number, exclusiveMinimum: 0}
                occurred_at: {type: string, format: date-time}
                safe_note_code: {type: string, maxLength: 120}
      responses: {'200': {description: Manual payment result}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
  schemas:
    DepositStatus:
      type: string
      enum: [not_required, requested, paid, refunded, forfeited]
    PaymentRequestStatus:
      type: string
      enum: [pending, partially_paid, paid, cancelled, expired]
