# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Team Actions"
  version: 3.0.0-unified-team
  description: >-
    Team operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-team.vishartattoo.com
    description: "Vishar CRM Team action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/team/profiles:
    get:
      operationId: listTeamProfiles
      summary: "List CRM users who belong to the active artist workspace"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/profiles/{profile_id}/role:
    put:
      operationId: setTeamProfileRole
      summary: "Change the CRM role of a member of the active artist workspace"
      x-openai-isConsequential: true
      description: "Installation owner only. At least one active owner always remains."
      parameters:
        - {name: "profile_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "role"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                role: {type: "string", enum: ["owner", "booking_manager", "read_only"]}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/profiles/{profile_id}/active:
    put:
      operationId: setTeamProfileActive
      summary: "Switch CRM access of a member of the active artist workspace on or off"
      x-openai-isConsequential: true
      description: "Installation owner only. The acting owner cannot switch themselves off."
      parameters:
        - {name: "profile_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "is_active"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                is_active: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/memberships:
    get:
      operationId: listTeamMemberships
      summary: "List artist memberships across the active artist workspace"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/artist-memberships/{profile_id}:
    put:
      operationId: upsertArtistMembership
      summary: "Set a person's access level and capabilities on the active artist"
      x-openai-isConsequential: true
      description: "Installation owner only. Use grantArtistMembership as a workspace team manager. Omitted settings keep the member's current value; a new member starts with none of them and active."
      parameters:
        - {name: "profile_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "access_level"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                access_level: {type: "string", enum: ["artist", "manager", "read_only"]}
                can_view_finance: {type: "boolean"}
                can_manage_finance: {type: "boolean"}
                can_manage_sessions: {type: "boolean"}
                can_manage_integrations: {type: "boolean"}
                is_active: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/directory:
    get:
      operationId: listDirectoryProfiles
      summary: "List people the signed-in user may add to a team"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/workspace:
    get:
      operationId: listWorkspaceTeam
      summary: "List workspace members and their workspace roles"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/workspace-memberships/{profile_id}:
    put:
      operationId: upsertWorkspaceMembership
      summary: "Add a person to the active artist workspace or change their workspace role"
      x-openai-isConsequential: true
      description: "Omitted settings keep the member's current value; a new member starts with none of them and active."
      parameters:
        - {name: "profile_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "workspace_role"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                workspace_role: {type: "string", enum: ["admin", "booking_manager", "read_only"]}
                can_manage_workspace: {type: "boolean"}
                can_manage_team: {type: "boolean"}
                can_manage_integrations: {type: "boolean"}
                is_active: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/artist-memberships:
    get:
      operationId: listArtistMemberships
      summary: "List who has access to the active artist and with which capabilities"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/artist-memberships/preview:
    get:
      operationId: previewArtistMembership
      summary: "Preview the capabilities a membership on the active artist would give, without saving it"
      x-openai-isConsequential: false
      parameters:
        - {name: "profile_id", in: "query", required: true, schema: {type: "string", format: "uuid"}}
        - {name: "access_level", in: "query", required: true, schema: {type: "string", enum: ["owner", "artist", "manager", "read_only"]}}
        - {name: "can_view_finance", in: "query", required: false, schema: {type: "boolean", default: false}}
        - {name: "can_manage_finance", in: "query", required: false, schema: {type: "boolean", default: false}}
        - {name: "can_manage_sessions", in: "query", required: false, schema: {type: "boolean", default: false}}
        - {name: "can_manage_integrations", in: "query", required: false, schema: {type: "boolean", default: false}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/artist-memberships/grant:
    post:
      operationId: grantArtistMembership
      summary: "Give a person access to the active artist as a workspace team manager"
      x-openai-isConsequential: true
      description: "Omitted settings keep the member's current value; a new member starts as a manager with none of them, active. Only an installation owner can grant owner access."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "profile_id"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                profile_id: {type: "string", format: "uuid"}
                access_level: {type: "string", enum: ["owner", "artist", "manager", "read_only"]}
                can_view_finance: {type: "boolean"}
                can_manage_finance: {type: "boolean"}
                can_manage_sessions: {type: "boolean"}
                can_manage_integrations: {type: "boolean"}
                is_active: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/artist-owner:
    post:
      operationId: seatArtistOwner
      summary: "Make a person the owner who runs the active artist's book"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "profile_id"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                profile_id: {type: "string", format: "uuid"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
