# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Billing & Reconciliation Actions"
  version: 3.0.0-unified-billing-and-reconciliation
  description: >-
    Billing & Reconciliation operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-billing.vishartattoo.com
    description: "Vishar CRM Billing & Reconciliation action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/invoices:
    get:
      operationId: listInvoices
      summary: "List invoices of the active artist"
      x-openai-isConsequential: false
      parameters:
        - {name: "project_id", in: "query", required: false, schema: {type: "string", format: "uuid"}}
        - {name: "client_id", in: "query", required: false, schema: {type: "string", format: "uuid"}}
        - {name: "status", in: "query", required: false, schema: {type: "string", enum: ["draft", "issued", "partially_paid", "paid", "void"]}}
        - {name: "limit", in: "query", required: false, schema: {type: "integer", minimum: 1, maximum: 100, default: 50}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/invoices/{invoice_id}:
    get:
      operationId: getInvoice
      summary: "Read one invoice with line items, payments, credit notes and totals"
      x-openai-isConsequential: false
      parameters:
        - {name: "invoice_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    put:
      operationId: setInvoiceDetails
      summary: "Replace the due date, discount and notes of a draft invoice"
      x-openai-isConsequential: true
      description: "Send all three fields: read the invoice first and resend unchanged values; null clears a field."
      parameters:
        - {name: "invoice_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["due_date", "discount_amount", "notes"]
              properties:
                due_date: {type: ["string", "null"], format: "date"}
                discount_amount: {type: ["number", "null"], minimum: 0, maximum: 100000}
                notes: {type: ["string", "null"], maxLength: 2000}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/projects/{project_id}/invoices:
    post:
      operationId: createInvoice
      summary: "Create a draft invoice for a project"
      x-openai-isConsequential: true
      parameters:
        - {name: "project_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["idempotency_key"]
              properties:
                idempotency_key: {type: "string", format: "uuid"}
                due_date: {type: "string", format: "date"}
                notes: {type: "string", maxLength: 2000}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/invoices/{invoice_id}/line-items:
    post:
      operationId: setInvoiceLineItem
      summary: "Add or replace a line on a draft invoice"
      x-openai-isConsequential: true
      parameters:
        - {name: "invoice_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["description", "quantity", "unit_amount"]
              properties:
                description: {type: "string", maxLength: 500}
                quantity: {type: "number", minimum: 0.01, maximum: 1000}
                unit_amount: {type: "number", minimum: 0, maximum: 100000}
                line_item_id: {type: "string", format: "uuid", description: "Existing line to replace; omit to add a line."}
                session_id: {type: "string", format: "uuid"}
                line_position: {type: "integer", minimum: 1, maximum: 200}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/invoice-line-items/{line_item_id}/remove:
    post:
      operationId: removeInvoiceLineItem
      summary: "Remove a line from a draft invoice"
      x-openai-isConsequential: true
      parameters:
        - {name: "line_item_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/invoices/{invoice_id}/issue:
    post:
      operationId: issueInvoice
      summary: "Issue a draft invoice, fixing its number and totals"
      x-openai-isConsequential: true
      description: "Money action. Issued invoices cannot be edited; only voided or credited."
      parameters:
        - {name: "invoice_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                issue_date: {type: "string", format: "date"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/invoices/{invoice_id}/void:
    post:
      operationId: voidInvoice
      summary: "Void an invoice"
      x-openai-isConsequential: true
      parameters:
        - {name: "invoice_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["reason"]
              properties:
                reason: {type: "string", maxLength: 500}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/invoices/{invoice_id}/payment-requests:
    post:
      operationId: attachPaymentRequestToInvoice
      summary: "Attach an existing payment request to an invoice"
      x-openai-isConsequential: true
      parameters:
        - {name: "invoice_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["payment_request_id"]
              properties:
                payment_request_id: {type: "string", format: "uuid"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/invoices/{invoice_id}/payments:
    post:
      operationId: recordInvoicePayment
      summary: "Record a payment received against an issued invoice"
      x-openai-isConsequential: true
      description: "Money action. Only for money the user states was actually received, with the exact amount."
      parameters:
        - {name: "invoice_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["idempotency_key", "amount"]
              properties:
                idempotency_key: {type: "string", format: "uuid"}
                amount: {type: "number", minimum: 0.01, maximum: 100000}
                occurred_at: {type: "string", format: "date-time"}
                method_code: {type: "string", maxLength: 40}
                external_reference: {type: "string", maxLength: 120}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/invoices/{invoice_id}/credit-notes:
    post:
      operationId: createCreditNote
      summary: "Credit part or all of an issued invoice"
      x-openai-isConsequential: true
      parameters:
        - {name: "invoice_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["idempotency_key", "amount", "reason"]
              properties:
                idempotency_key: {type: "string", format: "uuid"}
                amount: {type: "number", minimum: 0.01, maximum: 100000}
                reason: {type: "string", maxLength: 500}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/payments/requests/{payment_request_id}/monzo-link:
    post:
      operationId: attachMonzoPaymentLink
      summary: "Attach a one-off Monzo payment link to an open deposit request"
      x-openai-isConsequential: true
      parameters:
        - {name: "payment_request_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["payment_url"]
              properties:
                payment_url: {type: "string", maxLength: 300, pattern: "^https://monzo[.]com/pay/r/[A-Za-z0-9_-]{4,255}$"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/monzo/destinations:
    get:
      operationId: listMonzoDestinations
      summary: "List reusable Monzo payment links by amount"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    post:
      operationId: upsertMonzoDestination
      summary: "Add or replace the reusable Monzo payment link for an amount"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["amount", "payment_url"]
              properties:
                amount: {type: "number", minimum: 0.01, maximum: 100000}
                payment_url: {type: "string", maxLength: 300, pattern: "^https://monzo[.]com/pay/r/[A-Za-z0-9_-]{4,255}$"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/monzo/destinations/{destination_id}/archive:
    post:
      operationId: archiveMonzoDestination
      summary: "Archive a reusable Monzo payment link"
      x-openai-isConsequential: true
      parameters:
        - {name: "destination_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/monzo/settings:
    get:
      operationId: getMonzoTransferSettings
      summary: "Read the Monzo Easy Bank Transfer settings"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    put:
      operationId: configureMonzoTransferSettings
      summary: "Configure or disable Monzo Easy Bank Transfer"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["payment_url"]
              properties:
                payment_url: {type: "string", maxLength: 300, pattern: "^https://monzo[.]com/pay/r/[A-Za-z0-9_-]{4,255}$"}
                is_enabled: {type: "boolean", default: false}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/monzo/reconciliation:
    get:
      operationId: listMonzoReconciliationCandidates
      summary: "List incoming Monzo payments waiting to be matched to payment requests"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/monzo/reconciliation/{candidate_id}/match:
    post:
      operationId: matchMonzoReconciliationCandidate
      summary: "Match an incoming Monzo payment to a payment request (not yet settled)"
      x-openai-isConsequential: true
      parameters:
        - {name: "candidate_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["payment_request_id"]
              properties:
                payment_request_id: {type: "string", format: "uuid"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/monzo/reconciliation/{candidate_id}/ignore:
    post:
      operationId: ignoreMonzoReconciliationCandidate
      summary: "Mark an incoming Monzo payment as unrelated to any request"
      x-openai-isConsequential: true
      parameters:
        - {name: "candidate_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/monzo/reconciliation/{candidate_id}/confirm:
    post:
      operationId: confirmMonzoReconciliationCandidate
      summary: "Settle a matched Monzo payment into the payment ledger"
      x-openai-isConsequential: true
      description: "Money action. Confirm only after the user has checked the match."
      parameters:
        - {name: "candidate_id", in: "path", required: true, schema: {type: "string", format: "uuid"}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties: {}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
