# Generated by scripts/build-gpt-unified-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: "Vishar CRM Workspace Actions"
  version: 3.0.0-unified-workspace
  description: >-
    Workspace operations of the one profile-bound Vishar Unified GPT. The signed-in
    CRM user, the server-owned active artist context (read and changed only through
    /v1/context), the GPT client ceiling and CRM capabilities are checked by the
    database on every call. No action accepts an artist, workspace, OAuth client or
    integration identifier.
servers:
  - url: https://gpt-workspace.vishartattoo.com
    description: "Vishar CRM Workspace action edge."
security:
  - supabaseOAuth: [email]
paths:
  /v1/me:
    get:
      operationId: getAccountOverview
      summary: "Read the signed-in CRM user account overview"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/me/display-name:
    put:
      operationId: setMyDisplayName
      summary: "Change the signed-in user display name"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["display_name"]
              properties:
                display_name: {type: "string", maxLength: 120}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/me/language:
    put:
      operationId: setMyLanguage
      summary: "Change the CRM language of the signed-in user"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["language"]
              properties:
                language: {type: "string", enum: ["en", "ru"]}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/me/delete:
    post:
      operationId: deleteMyAccount
      summary: "Permanently delete the signed-in CRM account"
      x-openai-isConsequential: true
      description: "Irreversible. Call only when the user explicitly asks to delete their own account and has typed their account email. The installation owner cannot delete their own account."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "confirmation"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                confirmation: {type: "string", maxLength: 320, description: "The signed-in account email, typed exactly by the user in this conversation."}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/workspace/access:
    get:
      operationId: getControlPlaneAccess
      summary: "Read what workspace, team and directory administration the signed-in user may do"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/workspaces:
    get:
      operationId: listWorkspaces
      summary: "List the studios and solo workspaces the signed-in user belongs to"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    post:
      operationId: createWorkspace
      summary: "Create a new studio or solo workspace owned by the signed-in user"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "display_name"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                display_name: {type: "string", maxLength: 120}
                workspace_type: {type: "string", enum: ["solo", "studio"], default: "studio"}
                slug: {type: "string", maxLength: 63, pattern: "^[a-z][a-z0-9-]{1,62}$"}
                timezone: {type: "string", maxLength: 64, default: "Europe/London"}
                default_currency: {type: "string", maxLength: 3, pattern: "^[A-Z]{3}$", default: "GBP"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/workspace:
    patch:
      operationId: updateWorkspace
      summary: "Rename, re-time-zone, change the currency of, or deactivate the active artist workspace"
      x-openai-isConsequential: true
      description: "Omitted fields stay unchanged."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                display_name: {type: "string", maxLength: 120}
                timezone: {type: "string", maxLength: 64}
                default_currency: {type: "string", maxLength: 3, pattern: "^[A-Z]{3}$"}
                is_active: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/workspace/ownership-transfer:
    post:
      operationId: transferWorkspaceOwnership
      summary: "Hand ownership of the active artist workspace to another member"
      x-openai-isConsequential: true
      description: "Only the current workspace owner can do this, and it cannot be undone by the previous owner."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "to_profile_id"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                to_profile_id: {type: "string", format: "uuid"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/workspace/artists:
    get:
      operationId: listWorkspaceArtists
      summary: "List the artists of the active artist workspace"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    post:
      operationId: createArtist
      summary: "Add a new artist to the active artist workspace"
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "display_name"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                display_name: {type: "string", maxLength: 120}
                slug: {type: "string", maxLength: 63, pattern: "^[a-z][a-z0-9-]{1,62}$"}
                timezone: {type: "string", maxLength: 64}
                default_currency: {type: "string", maxLength: 3, pattern: "^[A-Z]{3}$"}
                booking_reference_prefix: {type: "string", maxLength: 8, pattern: "^[A-Z0-9]{2,8}$"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/artist/control-plane:
    get:
      operationId: getArtistControlPlaneContext
      summary: "Read the active artist settings, workspace and what the signed-in user may administer"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/artist:
    patch:
      operationId: updateArtist
      summary: "Rename, re-time-zone, change the currency of, or deactivate the active artist"
      x-openai-isConsequential: true
      description: "Omitted fields stay unchanged."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                display_name: {type: "string", maxLength: 120}
                timezone: {type: "string", maxLength: 64}
                default_currency: {type: "string", maxLength: 3, pattern: "^[A-Z]{3}$"}
                is_active: {type: "boolean"}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/artist/onboarding:
    get:
      operationId: getArtistOnboardingState
      summary: "Read the setup checklist of the active artist"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/signup-policy:
    get:
      operationId: getSelfServiceSignupPolicy
      summary: "Read whether new artists can sign up on their own, and its limits"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
    put:
      operationId: setSelfServiceSignup
      summary: "Open or close self-service artist signup and set its limits"
      x-openai-isConsequential: true
      description: "Installation owner only."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: ["request_id", "is_open"]
              properties:
                request_id: {type: "string", format: "uuid", description: "Fresh UUID for this intended action. Reuse it only to retry the identical request."}
                is_open: {type: "boolean"}
                max_signups_per_hour: {type: "integer", minimum: 1, maximum: 1000}
                max_workspaces_per_founder: {type: "integer", minimum: 1, maximum: 100}
      responses: {'200': {description: "Result of the CRM action"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
  /v1/team/invite-policy:
    get:
      operationId: getTenantInvitePolicy
      summary: "Read who the signed-in user may invite to the active artist"
      x-openai-isConsequential: false
      responses: {'200': {description: "CRM data"}, '400': {description: 'Invalid request'}, '403': {description: 'Not permitted for this CRM user, GPT client or active artist'}}
components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. CRM membership, server-owned active Artist context, GPT client capability ceiling and operation capabilities remain authoritative.
