openapi: 3.1.0
info:
  title: Vishar CRM Private Appointment Actions
  version: 1.0.0-production
  description: >-
    Private OAuth-authenticated appointment actions for one artist. Artist scope
    is fixed by the OAuth client and cannot be selected in an API request.
servers:
  - url: https://gpt-actions.vishartattoo.com
    description: Vishar CRM production action edge.
security:
  - supabaseOAuth:
      - email
paths:
  /v1/clients/search:
    get:
      operationId: searchAppointmentClients
      summary: Find a client by name in this GPT's artist scope
      x-openai-isConsequential: false
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 100
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        '200':
          description: Matching clients. Only IDs and names are returned.
          content:
            application/json:
              schema:
                type: array
                maxItems: 20
                items:
                  $ref: '#/components/schemas/ClientSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/appointments:
    get:
      operationId: listAppointments
      summary: List appointments in this GPT's artist scope
      x-openai-isConsequential: false
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 20
      responses:
        '200':
          description: Appointments in the fixed artist scope.
          content:
            application/json:
              schema:
                type: array
                maxItems: 25
                items:
                  $ref: '#/components/schemas/Appointment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: scheduleAppointment
      summary: Create an appointment for this GPT's fixed artist
      description: >-
        Check conflicts first. Generate one UUID request_id and reuse it only
        when retrying the exact same request.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleAppointmentRequest'
      responses:
        '200':
          description: Appointment created or the identical idempotent request replayed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /v1/appointments/conflicts:
    post:
      operationId: checkAppointmentConflicts
      summary: Check active appointment conflicts in this GPT's artist scope
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [start_at, end_at]
              properties:
                start_at:
                  type: string
                  format: date-time
                end_at:
                  type: string
                  format: date-time
                exclude_appointment_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Active proposed or confirmed conflicts.
          content:
            application/json:
              schema:
                type: array
                maxItems: 25
                items:
                  $ref: '#/components/schemas/AppointmentConflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/appointments/{appointment_id}:
    get:
      operationId: getAppointment
      summary: Read one appointment in this GPT's artist scope
      x-openai-isConsequential: false
      parameters:
        - name: appointment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Appointment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/appointments/{appointment_id}/time:
    patch:
      operationId: rescheduleAppointment
      summary: Reschedule an appointment in this GPT's artist scope
      description: Read first and supply the current calendar_version.
      x-openai-isConsequential: true
      parameters:
        - name: appointment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [request_id, expected_calendar_version, start_at, end_at]
              properties:
                request_id:
                  type: string
                  format: uuid
                expected_calendar_version:
                  type: integer
                  minimum: 0
                start_at:
                  type: string
                  format: date-time
                end_at:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Appointment rescheduled or identical idempotent request replayed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /v1/appointments/{appointment_id}/cancel:
    post:
      operationId: cancelAppointment
      summary: Cancel an appointment in this GPT's artist scope
      description: Read first and supply the current calendar_version.
      x-openai-isConsequential: true
      parameters:
        - name: appointment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [request_id, expected_calendar_version]
              properties:
                request_id:
                  type: string
                  format: uuid
                expected_calendar_version:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Appointment cancelled or identical idempotent request replayed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

components:
  securitySchemes:
    supabaseOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://gpt-actions.vishartattoo.com/oauth/authorize
          tokenUrl: https://gpt-actions.vishartattoo.com/oauth/token
          scopes:
            email: Authenticate the CRM user. Database access remains controlled by CRM membership and the fixed OAuth client ID.
  schemas:
    AppointmentType:
      type: string
      enum: [tattoo_session, in_person_consultation, video_consultation, touch_up]
    AppointmentStatus:
      type: string
      enum: [draft, proposed, confirmed, completed, cancelled, no_show]
    CalendarSyncStatus:
      type: string
      enum: [not_connected, queued, synced, retrying, failed]
    ClientSearchResult:
      type: object
      additionalProperties: false
      required: [client_id, client_name]
      properties:
        client_id:
          type: string
          format: uuid
        client_name:
          type: string
    Appointment:
      type: object
      additionalProperties: false
      required:
        - appointment_id
        - appointment_type
        - status
        - start_at
        - end_at
        - calendar_version
        - calendar_sync_status
        - client_id
        - client_name
      properties:
        appointment_id:
          type: string
          format: uuid
        appointment_type:
          $ref: '#/components/schemas/AppointmentType'
        status:
          $ref: '#/components/schemas/AppointmentStatus'
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        calendar_version:
          type: integer
          minimum: 0
        calendar_sync_status:
          $ref: '#/components/schemas/CalendarSyncStatus'
        client_id:
          type: string
          format: uuid
        client_name:
          type: string
        enquiry_id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
    AppointmentConflict:
      type: object
      additionalProperties: false
      required: [appointment_id, appointment_type, status, start_at, end_at, client_name]
      properties:
        appointment_id:
          type: string
          format: uuid
        appointment_type:
          $ref: '#/components/schemas/AppointmentType'
        status:
          $ref: '#/components/schemas/AppointmentStatus'
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        client_name:
          type: string
    ScheduleAppointmentRequest:
      type: object
      additionalProperties: false
      required: [request_id, client_id, appointment_type, start_at, end_at]
      properties:
        request_id:
          type: string
          format: uuid
        client_id:
          type: string
          format: uuid
        appointment_type:
          $ref: '#/components/schemas/AppointmentType'
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [draft, proposed, confirmed]
          default: proposed
        enquiry_id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        notes:
          type: string
          maxLength: 4000
    MutationResult:
      type: object
      additionalProperties: false
      properties:
        appointment_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/AppointmentStatus'
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        calendar_version:
          type: integer
          minimum: 0
        calendar_sync_status:
          $ref: '#/components/schemas/CalendarSyncStatus'
        replayed:
          type: boolean
    Error:
      type: object
      additionalProperties: true
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthenticated:
      description: Valid OAuth authentication is required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The signed-in CRM user or fixed GPT artist scope does not permit the action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Record not found in this GPT's artist scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: The appointment changed after it was read.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
